/* public/styles.css */
body {
    background: linear-gradient(270deg, #dfeb29 10%, #06c0cc 90%);

}

.po{
    font-size: 50px;

}

 button {
    width: 10em;
    height: 5em;
}

.style{
    font-size: 20px;
}

h1 {
    position: relative;
  padding: 1rem .5rem;
  color: #111;
}

h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: -webkit-linear-gradient(20deg, yellow, blue, orange, purple, green, red);
    background-image: linear-gradient(70deg, yellow, blue, orange, purple, green, red);
  }

